@import '../../../SASS/basis/fonts';
@import '../../../SASS/abstracts/mixins';


.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    background: #191d2b;

    @media screen and (min-width: 480px) {
        flex-direction: row;
        justify-content: flex-start;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        @media screen and (min-width: 480px) {
            margin-top: 0;
            margin-left: 30px;
        }


        .title {
            @include font('Nunito', #FFFFFF, 16px);
            margin-bottom: 10px;

            @media screen and (min-width: 480px) {
                font-size: 18px;
            }
        }

        .contact__text {
            display: flex;
            flex-direction: column;



            .text__row {
                @include font('Nunito', #a4acc4, 16px);

                @media screen and (min-width: 480px) {
                    font-size: 18px;
                }
            }
        }
    }
}