.about{
    height: 100vh;
    width: 100%;
    background-color: #232741;


    
    .container{
        display: flex;
        flex-direction: column;
        .title_main{
            color: #FFFFFF;
        }

        .content{
            display: flex;

            .img{
                position: relative;
                z-index: 22;
                width: 100%;
                height: 100%;
            }

            .inner{

                display: flex;
                flex-direction: column;

                .name_title{
                    color: #FFFFFF;
                }

                .text_about_me{
                    color: #FFFFFF;
                }
            }

            .link_cv{
                color: #FFFFFF;
                background-color: #007bff;
                min-height: 50px;
                line-height: 50px;
                text-align: center;

            }
        }
    }


}