.sidebar {
    height: 100vh;
    width: 400px;
    background: #191d2b;
    border-right: 1px solid #2e344e;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        

        .top {
            border-bottom: 1px solid #2e344e;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: center;
            .logo_link {
                
            }
        }

        .menu {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                .item {               
                    display: block;
                    text-align: center;
                    width: 100%;

                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                    

                    .link {
                        color: #FFFFFF; 
                        width: 100%;
                        display: block;
                        position: relative;
                        z-index: 5;
                        transition: all .4s ease-out;
                        
                        
                        &::before{
                            content: '';
                            position: absolute;
                            background:rgba(#037fff, 0.2);
                            top: 0;
                            left: 0;
                            right: 100%;
                            height: 100%;
                            width: 0%;
                            transition: all .4s ease-out;
                            z-index: -1;
                            
                        }
                        &:hover{
                            color: #037fff;

                            &::before{
                                width: 100%;
                                
                            }
                        }
                    }

                    .active{
                        color: #FFFFFF;
                        background-color: #037fff;

                        &:hover{
                            color: #FFFFFF;
                        }
                        
                    }
                }
            }
        }

        .bottom{
            border-top: 1px solid #2e344e;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px 0px;

            .copyright{
                color: #FFFFFF;
            }
        }
    }
}