@import './SASS/basis/fonts';
@import './SASS/abstracts/vars';
@import './SASS/abstracts/mixins';

.App {
  display: flex;
  height: 100%;
  background-color: #10121b;
}

.app__container {
  width: 100%;
  min-height: 100vh;
  background-color: #10121b;
  overflow-y: auto;
}
