@import './SASS/basis/fonts';
@import './SASS/abstracts/vars';
@import './SASS/abstracts/mixins';

.App {
  display: flex;
  height: 100%;
  background-color: #10121b;
}

.app__container {
  padding-left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #10121b;
  overflow-y: auto;

  @media screen and (min-width: 1200px) {
    padding-left: 400px;
  }
}
