@import '../../SASS/abstracts/vars';
@import '../../SASS/abstracts/mixins';

.contacts {
    width: 100%;
    height: 100vh;

    .container {
        @extend %container;
        display: flex;
        flex-direction: column;

        .title {
            @include font('Nunito', #FFFFFF, 40px);
            margin-bottom: 40px;
        }

        .subtite {
            @include font('Nunito', #FFFFFF, 30px);
            margin-bottom: 30px;
        }

        .content {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 1600px) {
                flex-direction: row;
            }
            

            .email__form {
                width: 100%;
                margin-bottom: 50px;
                

                @media screen and (min-width: 1600px){
                    margin-bottom: 0;
                }
                .field {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .field__inscription {
                        padding: 0 10px;
                        @include font('Nunito', #a4acc4, 14px);
                        position: absolute;
                        background-color: #10121b;
                        top: -10px;
                        left: 30px;
                    }

                    .errorMessage{
                        position: absolute;
                        right: 0;
                        top: 50%;
                        
                    }

                    .input,
                    .textarea {
                        background-color: transparent;
                        font-family: 'Nunito';
                        color: #a4acc4;
                        border: 1px solid #2e344e;
                        margin-bottom: 20px;
                        outline: none;
                    }

                    .input {
                        min-height: 50px;
                        padding: 0 15px;
                    }

                    .textarea {
                        padding: 15px;
                    }
                }

                .form__btn {
                    position: relative;
                    @include font('Nunito', #FFFFFF, 18px);
                    text-transform: uppercase;
                    background-color: #007bff;
                    min-height: 50px;
                    line-height: 50px;
                    text-align: center;
                    padding: 0px 30px;
                    z-index: 1;
                    transition: all .5s ease-out;
                    cursor: pointer;

                    &:disabled{
                        background-color: #a4acc4;
                        cursor: default;
                        
                        &::after{
                            display: none;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        background: #FFFFFF;
                        bottom: 0;
                        left: 0;
                        z-index: 10;
                        transition: all .5s ease-out;
                    }

                    &:hover {
                        &::after {
                            width: 100%;

                        }
                    }
                }
            }

            .contact__box{
                flex: 0 0 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                @media screen and (min-width: 1600px){
                    margin-left: 30px;
                }


            }
        }
    }
}